@model Proiect___MVC.DAL.Programare

@{
    ViewBag.Title = "ClientProgramare";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h3>Programare</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Data_Ora, htmlAttributes: new { @class = "control-label col-md-2", id= "DataProgramare" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data_Ora, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                @Html.ValidationMessageFor(model => model.Data_Ora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_Serviciu,"Serviciu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.id_Serviciu,new SelectList(ViewBag.Servicii,"id","Descriere"), new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id_Serviciu, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Vizualizare programari", "ListaProgramari")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval") 
}
