@model IEnumerable<Proiect___MVC.DAL.Tehnician>

@{
    ViewBag.Title = "ListaTehnicieni";
    Layout = "~/Views/Shared/_LayoutTehnician.cshtml";
}

<h3>Lista Tehnicieni</h3>
@using (Html.BeginForm("ListaTehnicieni", "Tehnician", FormMethod.Get))
{
    <text>Cauta dupa denumire</text>
    <input type="text" name="nume_tehnician" />
    <input type="submit" class="btn btn-info" value="Cauta" />
}
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Functie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilizator.nume_utilizator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilizator.parola)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilizator.email)
        </th>
        <th>

        </th>
        <th>

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Functie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizator.nume_utilizator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizator.parola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizator.email)
            </td>
            <td>
                @Html.ActionLink("Modifica", "ModificaTehnician", new { cod_tehnician = item.id }, new { @class = "btn btn-info" })
            </td>
            <td>
                @Html.ActionLink("Utilizator", "ModificaUtilizator1", new { cod_tehnician = item.id }, new { @class = "btn btn-info" })
            </td>
            <td>
                @using (@Html.BeginForm("StergeTehnician", "Tehnician", new { cod_tehnician = item.id, cod_utilizator = item.id_Utilizator }))
                {
                    <input type="submit" class="btn btn-danger" value="Sterge" onclick="return confirm('Stergeti Tehnicianul?');" />
                }
            </td>


        </tr>
    }

</table>
