@model IEnumerable<Proiect___MVC.DAL.Serviciu>

@{
    ViewBag.Title = "ListaServcii";
    Layout = "~/Views/Shared/_LayoutTehnician.cshtml";
}

<h3>Lista Servcii</h3>

<p>
    @Html.ActionLink("Adauga", "AdaugaServiciu")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descriere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategorieServiciu.Categorie)
        </th>
        <th>

        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descriere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategorieServiciu.Categorie)
        </td>
        <td>
            @Html.ActionLink("Modifica", "ModificaServiciul", new { cod_serviciu =item.id }, new {@class = "btn btn-info"})
        </td>
        <td>
            @using (@Html.BeginForm("StergeServiciul", "Tehnician", new { cod_serviciu = item.id }))
                {
                    <input type="submit" class="btn btn-danger" value="Sterge" onclick="return confirm('Stergeti Serviciul?');" />
                } 
        </td>
    </tr>
}

</table>
