@model Proiect___MVC.DAL.Client

@{
    ViewBag.Title = "ModificaClient";
    Layout = "~/Views/Shared/_LayoutTehnician.cshtml";
}

<h3>Modifica Client</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        @Html.LabelFor(model => model.Nume, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nume, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nume, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.id_Utilizator, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.id_Utilizator,new SelectList(ViewBag.Utilizatori,"id","nume_utilizator") ,new { htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.id_Utilizator, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Inapoi la lista", "ListaClienti")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")}
